conf/maven/settings.xml
.svn
.project
.classpath
.settings
.gitignore
*.iml
target
sparqlGraphLibrary/src/test/resources/datacleanertest-output.csv
logs/
.sts4-cache/
*.swp
*.crt
DOT_SETTINGS
.idea/
.vscode/
ENV_OVERRIDE
auth_settings.json
