conf/maven/settings.xml
.svn
.project
.classpath
.settings
.factorypath
.gitignore
*.iml
target
sparqlGraphLibrary/src/test/resources/datacleanertest-output.csv
logs/
.sts4-cache/
*.swp
*.crt
DOT_SETTINGS
.idea/
.vscode/
ENV_OVERRIDE
auth_settings.json
*.rej
*.class
release.properties
sparqlGraphLibrary/src/main/resources/semantics/OwlModels/ont-policy.rdf
sparqlGraphIngestionService/hs_err_pid23408.log
ignoreme
